<a href="https://colab.research.google.com/github/swarnava-96/Movie-Recommendation-System/blob/main/Movie_Recommendation_System_using_Nearest_Neighbors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Nearest Neighbor item based Collaborative Filtering**

### Importing the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Loading the Dataset

In [2]:
cd "/content/drive/MyDrive/Datasets"

/content/drive/MyDrive/Datasets

In [3]:
# Lets load the two datasets

movies_df = pd.read_csv("movies.csv", usecols = ["movieId", "title"], dtype = {"movieId" : "int32", "title" : "str"})
rating_df = pd.read_csv("ratings.csv", usecols = ["userId", "movieId", "rating"], dtype = {"userId" : "int32", "movieId" : "int32", "rating" : "float32"})

In [4]:
# Lets check the first five rows of our movies_df dataframe

movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [5]:
# Lets check the first five rows of our rating_df dataframe

rating_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [6]:
# Merging the two dataframes

df = pd.merge(rating_df, movies_df, on = "movieId")
df.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

### Lets create the Recommendation System

In [7]:
# Dropping the missing values

combine_movie_ratings = df.dropna(axis = 0, subset = ["title"])

In [8]:
# Lets count the total number of ratings given to each movies

movie_rating_count = (combine_movie_ratings.groupby(by = ["title"])["rating"].count().reset_index().rename(columns = {"rating" : "total_rating_count"})[["title", "total_rating_count"]])
movie_rating_count.head()

                                     title  total_rating_count
0                               '71 (2014)                   1
1  'Hellboy': The Seeds of Creation (2004)                   1
2                   'Round Midnight (1986)                   2
3                      'Salem's Lot (2004)                   1
4                'Til There Was You (1997)                   2

In [9]:
# Lets merge the "movie_rating_count" with combine_movie_ratings

rating_with_total_rating_count = combine_movie_ratings.merge(movie_rating_count, left_on = "title", right_on = "title", how = "left")
rating_with_total_rating_count.head()

   userId  movieId  rating             title  total_rating_count
0       1        1     4.0  Toy Story (1995)                 215
1       5        1     4.0  Toy Story (1995)                 215
2       7        1     4.5  Toy Story (1995)                 215
3      15        1     2.5  Toy Story (1995)                 215
4      17        1     4.5  Toy Story (1995)                 215

In [10]:
# Five number summary of the dataframe

pd.set_option("display.float.format", lambda x : "%.3f" % x) 
print(movie_rating_count["total_rating_count"].describe())

count   9719.000
mean      10.375
std       22.406
min        1.000
25%        1.000
50%        3.000
75%        9.000
max      329.000
Name: total_rating_count, dtype: float64

In [11]:
# We will consider only those movies whose ratings will increase the popularity threshold

popularity_threshold = 50 
rating_popular_movie = rating_with_total_rating_count.query("total_rating_count >= @popularity_threshold")
rating_popular_movie.head()

   userId  movieId  rating             title  total_rating_count
0       1        1   4.000  Toy Story (1995)                 215
1       5        1   4.000  Toy Story (1995)                 215
2       7        1   4.500  Toy Story (1995)                 215
3      15        1   2.500  Toy Story (1995)                 215
4      17        1   4.500  Toy Story (1995)                 215

In [12]:
# Lets check the shape of our dataset

rating_popular_movie.shape

(41362, 5)

In [14]:
# Lets create a pivot matrix

movie_features_df = rating_popular_movie.pivot_table(index = "title", columns = "userId", values = "rating").fillna(0)
movie_features_df.head()

userId                              1     2     3    ...   608   609   610
title                                                ...
10 Things I Hate About You (1999) 0.000 0.000 0.000  ... 0.000 0.000 0.000
12 Angry Men (1957)               0.000 0.000 0.000  ... 0.000 0.000 0.000
2001: A Space Odyssey (1968)      0.000 0.000 0.000  ... 3.000 0.000 4.500
28 Days Later (2002)              0.000 0.000 0.000  ... 3.500 0.000 5.000
300 (2007)                        0.000 0.000 0.000  ... 5.000 0.000 4.000

[5 rows x 606 columns]

In [15]:
# Lets convert the pivot matrix into an array matrix

from scipy.sparse import csr_matrix
movie_features_df_matrix = csr_matrix(movie_features_df.values)

In [16]:
# Lets apply the Nearest Neighbor algorithm

from sklearn.neighbors import NearestNeighbors

model = NearestNeighbors(metric = "cosine", algorithm = "brute")
model.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [18]:
# Lets check the shape of our pivot matrix

movie_features_df.shape

(450, 606)

In [21]:
# Lets test our algorithm with a random input

query_index = np.random.choice(movie_features_df.shape[0])
print(query_index)
distances, indices = model.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

21

In [22]:
movie_features_df.head()

userId                              1     2     3    ...   608   609   610
title                                                ...
10 Things I Hate About You (1999) 0.000 0.000 0.000  ... 0.000 0.000 0.000
12 Angry Men (1957)               0.000 0.000 0.000  ... 0.000 0.000 0.000
2001: A Space Odyssey (1968)      0.000 0.000 0.000  ... 3.000 0.000 4.500
28 Days Later (2002)              0.000 0.000 0.000  ... 3.500 0.000 5.000
300 (2007)                        0.000 0.000 0.000  ... 5.000 0.000 4.000

[5 rows x 606 columns]

In [23]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movie_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for American Pie (1999):

1: Austin Powers: The Spy Who Shagged Me (1999), with distance of 0.3662390112876892:
2: There's Something About Mary (1998), with distance of 0.4409427046775818:
3: South Park: Bigger, Longer and Uncut (1999), with distance of 0.47666943073272705:
4: Happy Gilmore (1996), with distance of 0.48721522092819214:
5: Armageddon (1998), with distance of 0.4946401119232178: